body {
  background-color: gray;
  color: white;
  font-family: "Goldman";
}

input[type='submit'] {
  border: 0;
  background-color: #555555;
  color: #fff;
  width: 200px;
  height: 40px;
  font-family: 'Goldman';
}

input[type='submit']:hover {
  border: 0;
  background-color: #A5A5A5;
  color: #fff;
}

input[type='submit']:active {
  border: 0;
  background-color: #353535;
  color: #fff;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -150px;
}

h1 {
  text-align: center;
}


table {
  border-spacing: 0 10px;
}

span {
  color: red;
}
